{% extends 'base.html.twig' %}

{% block title %}
Le bon souk - Accueil
{% endblock %}

{% block body %}

<h1 class="text-center">Liste des rubriques</h1>

<section class="container">
    {{ form(form) }}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre de l'annonce</th>
                <th>Contenu de l'annonce</th>
                <th>Date de création</th>
                <th>Date de validité</th>
            </tr>
        </thead>
        <tbody>
			{% for key, value in ann %}
			<tr>
				<td>{{value.Nom}}</td>
				<td>{{value.Contenu}}</td>
				<td>{{value.DateCreation|date("d/m/y")}}</td>
				<td>{{value.DateValidite|date("d/m/y")}}</td>
			</tr>
			{% endfor %}

    </table>

</section>

{% endblock %}
